<main>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/playa-tropical.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Destino 1</h5>
                <p class="card-text">Viajá con <b>50% de descuento</b> a tu próximo destino.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/playa-tropical.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Destino 2</h5>
                <p class="card-text">Viajá con <b>50% de descuento</b> a tu próximo destino.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/playa-tropical.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Destino 3</h5>
                <p class="card-text">Viajá con <b>50% de descuento</b> a tu próximo destino.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
          
    </div>

</main>